<div class="message-time">
  <%= message.updated_at %>
</div>
<div class="message-user-left">
  <%= link_to( user_messages_url(left_user(message, user).id) ) do %>
  <%= image_tag user_image_path(left_user(message, user)) %>
  <%= left_user(message, user).name %>
  <% end %>
</div>
<div class="<%= body_class_name(message, user) %>">
  <%= link_to(message) do %>
  <%= simple_format(message.content) %>
  <% end %>
</div>
<div class="message-user-right">
  <%= link_to( user_messages_url(right_user(message, user).id) ) do %>
  <%= image_tag user_image_path(right_user(message, user)) %>
  <%= right_user(message, user).name %>
  <% end %>
</div>