<%= form_with(model: user, local: true) do |form| %>
<div class="form users-form">
  <% if user.errors.any? %>
  <div class="form-error">
    <!--<h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>-->
    <ul>
      <% user.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-body">
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :image_name %>
    <div class="user user-show">
      <img src="<%= user_image_path(@user, id: @user&.id || 0) %>" id='img_prev'>
    </div>
    <div class="checkbox">
      <%= form.label :remove_img, '画像を削除する' %>
      <%= form.check_box :remove_img, :as => :boolean %>
    </div>
    <%= form.file_field :image, id: :user_img %>

    <script type="text/javascript">
      $(function () {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#user_img").change(function () {
          readURL(this);
        });
      });
    </script>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit action_name %>
  </div>
</div>
<% end %>