<%= form_with(model: user, local: true) do |form| %>

<div class="form users-form">
  <% if user.errors.any? %>
  <div class="form-error">
    <!--<h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>-->
    <ul>
      <% user.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-body">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :image_name %>
    <%= form.file_field :image %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <%= form.submit action_name %>
  </div>
</div>
<% end %>