<div class="main user-show">
  <div class="container">

    <%= render 'show_user' %>

    <ul class="user-tabs">
      <li>
        <%= link_to("投稿", "/users/#{@user.id}") %>
      </li>
      <li class="active">
        <%= link_to("いいね!", "/users/#{@user.id}/likes") %>
      </li>
      <li>
        <%= link_to("メッセージ", "/users/#{@user.id}/messages") %>
      </li>
    </ul>


    <% @like_posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
        <%= image_tag user_image_path(post.user) %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user&.name, post.user) %>
        </div>
        <%= link_to(post.content, post) %>
      </div>
    </div>
    <% end %>
  </div>
</div>