<div class="main user-show">
  <div class="container">

    <%= render 'show_user' %>

    <ul class="user-tabs">
      <li>
        <%= link_to("投稿", "/users/#{@user.id}") %>
      </li>
      <li>
        <%= link_to("いいね!", "/users/#{@user.id}/likes") %>
      </li>
      <li class="active">
        <%= link_to("メッセージ", "/users/#{@user.id}/messages") %>
      </li>
    </ul>

    <% @messages.each do |message| %>
    <div class="messages-index-item">
      <%= render 'messages/show_message', message: message, user: @current_user %>
    </div>
    <% end %>
  </div>
</div>