<div class="main user-show">
  <div class="container">

    <%= render 'show_user' %>

    <ul class="user-tabs">
      <li class="active">
        <%= link_to("投稿", "/users/#{@user.id}") %>
      </li>
      <li>
        <%= link_to("いいね!", "/users/#{@user.id}/likes") %>
      </li>
      <li>
        <%= link_to("メッセージ", "/users/#{@user.id}/messages") %>
      </li>
    </ul>

    <% @user.posts.order(created_at: :desc).each do |post| %>
      <%= render 'posts/show_post', post: post %>
    <% end %>
  </div>
</div>